{% extends 'base.html' %}

{% block titulo %}
Sobre - Conecta Aluno
{% endblock %}

{% block conteudo %}

<div class="card">

    <h2>Sobre o Projeto</h2>

    <p>
        O Conecta Aluno é uma plataforma criada para conectar estudantes universitários através da oferta e busca de serviços acadêmicos.
    </p>

    <h3>Tecnologias Utilizadas</h3>

    <ul>
        <li>Python</li>
        <li>Django</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>SQLite</li>
    </ul>

</div>

{% endblock %}