{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">

    <title>
        {% block titulo %}
        Conecta Aluno
        {% endblock %}
    </title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<header>
    <h1>Conecta Aluno</h1>

   <nav>

        <a href="/" class="menu-link">Início</a>

        <a href="/sobre/" class="menu-link">Sobre</a>

        <a href="/contato/" class="menu-link">Contato</a>

        {% if user.is_authenticated %}

            <a href="/cadastrar-servico/" class="menu-link">
                Publicar Serviço
            </a>

            <span class="usuario-logado">
                👋 Olá, {{ user.username }}
            </span>

            <a href="/logout/" class="menu-link">
                Sair
            </a>
        {% else %}

            <a href="/login/" class="menu-link">Login</a>

        {% endif %}

    </nav>
</header>

<main>
    {% block conteudo %}
    {% endblock %}
</main>

<footer>

    <p>
        © 2026 Conecta Aluno
    </p>

    <p>
        Conectando estudantes através do compartilhamento de conhecimento.
    </p>

</footer>

</body>
</html>